<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

  <Appenders>
  
    <RollingFile
    	name="dailyfile"
    	fileName="${sys:catalina.base}/logs/korapis.log"
    	filePattern="${sys:catalina.base}/logs/korapis.log.%d{yyyyMMdd}"
    	append="true">
      <PatternLayout pattern="%d %-5p (%c{1.}:%L) %m%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
      </Policies>
    </RollingFile>
    
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-5p (%c{1.}:%L) %m%n"/>
    </Console>
    
  </Appenders>
  
  <Loggers>
    <Root level="info">
      <AppenderRef ref="STDOUT" level="INFO" />
      <AppenderRef ref="dailyfile"/>
    </Root>
  </Loggers>
  
</Configuration>